<div id="container-questionnaire">



    <p>What was the color of the researchers notebook? Please click the point on the following scale that best describes your memory of the color. You must answer this question to continue.
    </p>
  <br/>

  <div class="instructions well">

    <form id="post_like" action="">

      <!-- beginning of a question -->
      <div class="row question">
        <div class="col-md-8">
	  <div class="rangeholder">
	    <input type="range" class='not-clicked' id="1" name="1">
	  </div>

	  <ul class="range-labels-5">
	    <li>1 <br/> RED </li>
	    <li>2 <br/> ORANGE </li>
	    <li>3 <br/> BLUE </li>
	    <li>4 <br/> GREEN</li>
	    <li>5 <br/> YELLOW </li>
	  </ul>
        </div><br/>
      </div>
      <!-- end of a question -->
    <hr/>
    </form>
  </div>
          

  <hr/>
  <div class="instructionsnav">
    <div class="row">
      <div class="col-xs-2">
      </div>
      <div class="col-xs-7">
      </div>
      <div class="col-xs-3">
        <button type="button" id="next" value="next" class="btn btn-primary btn-lg continue" disabled="disabled">
          Continue <span class="glyphicon glyphicon-arrow-right"></span>
        </button>
      </div>
    </div>
  </div>
</div>
